{% extends 'page.html.twig' %}

{% block body %}

    <div class="main-graph-container">
        <div class="main-graph"></div>
    </div>

    <script type="text/javascript">
        window.addEventListener("load", function() {

            cy = cytoscape({
                container: document.querySelector('.main-graph'),
                elements: {{ cytoscapeData|json_encode|raw }},

                style: [ // the stylesheet for the graph
                    {
                        selector: 'node',
                        style: {
                            // "content": "data(name)",
                            'background-color': '#666',
                            'label': 'data(name)',
                            "font-size": "7",
                            "text-outline-color": "#fff",
                            "text-outline-opacity": "0.75",
                            "text-outline-width": 2,
                            "width": "10",
                            "height": "10"
                        }
                    },

                    {
                        selector: "node[weight = 50]",
                        style: {
                            "background-color": "#FF0000",
                            "width": "20",
                            "height": "20"
                        }
                    },

                    {
                        selector: 'edge',
                        style: {
                            'width': 1.5,
                            'line-color': '#999',
                            'target-arrow-color': '#999',
                            'target-arrow-shape': 'triangle',
                            'arrow-scale': 1,
                            'curve-style': 'bezier'
                        }
                    }
                ],

                layout: {
                    name: 'euler',
                    randomize: true,
                    animate: false
                }

                // layout: {
                //     name: 'spread',
                //     minDist: 40,
                //     animate: false
                // }

                // layout: {
                //     name: 'cola',
                //     convergenceThreshold: 100, // end layout sooner, may be a bit lower quality
                //     animate: false
                // }

                // layout: {
                //     name: "breadthfirst",
                //     fit: true,
                //     directed: true,
                //     padding: 30,
                //     grid: false,
                //     circle: true,
                //     avoidOverlap: true,
                //     spacingFactor: 1.75,
                // }

                // layout: {
                //     name: 'cose',
                //     idealEdgeLength: 100,
                //     nodeOverlap: 1,
                //     refresh: 20,
                //     fit: true,
                //     padding: 30,
                //     randomize: false,
                //     componentSpacing: 100,
                //     nodeRepulsion: 500000,
                //     edgeElasticity: 100,
                //     nestingFactor: 5,
                //     gravity: 100,
                //     numIter: 1000,
                //     initialTemp: 200,
                //     coolingFactor: 0.95,
                //     minTemp: 1.0
                // }
            });

            cy.on('tap', 'node', function() {
                window.location.href = "/project/" + this.data("id");
            });

        });
    </script>


{% endblock %}
