<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Dependency Tool{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" sizes="any">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block navigation %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

<script src="{{ asset('js/cola.min.js') }}"></script>
<script src="{{ asset('js/weaver.min.js') }}"></script>
<script src="{{ asset('js/cytoscape.min.js') }}"></script>
<script src="{{ asset('js/cytoscape-cola.js') }}"></script>
<script src="{{ asset('js/cytoscape-euler.js') }}"></script>
<script src="{{ asset('js/cytoscape-spread.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>