{% extends 'page.html.twig' %}

{% block body %}
    <main class="pt-5 px-lg-5">
        <h1 class="pt-5">{{ project.name }}</h1>

        <section id="details">
            <dl class="row">
                <dt class="col-sm-3">Source</dt>
                <dd class="col-sm-9">{{ project.source }}</dd>

                <dt class="col-sm-3">Latest Version</dt>
                <dd class="col-sm-9">{{ project.latestVersion }}</dd>

                <dt class="col-sm-3">Latest Version Time</dt>
                <dd class="col-sm-9">{{ project.latestVersionTime|date('Y-m-d H:i:s') }}</dd>
            </dl>
        </section>

        <section id="requirements">
            <h2 class="pt-5">Requirements</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>Project</th>
                        <th>Installed Version</th>
                        <th>Required By</th>
                    </tr>
                </thead>
                <tbody>
                {% for requirement in requirements %}
                    <tr>
                        <td style="white-space: nowrap;"><a href="{{ path('app_project_details', {projectId: "todo"}) }}">{{ requirement.project }}</a></td>
                        <td style="white-space: nowrap;">{{ requirement.installed_version }}</td>
                        <td style="white-space: nowrap;">{% for required_by in requirement.required_by %}<a href="{{ path('app_project_details', {projectId: "todo"}) }}">{{ required_by }}</a><br>{% endfor %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if requirements|length == 0 %}
                <div class="alert alert-info text-center">No requirements found</div>
            {% endif %}
        </section>

        <section id="dependents">
            <h2 class="pt-5">Dependents</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>Project</th>
                        <th>Required Version</th>
                        <th>Require DEV</th>
                        <th>Installed Version</th>
                    </tr>
                </thead>
                <tbody>
                {% for dependant in dependants %}
                    <tr>
                        <td style="white-space: nowrap"><a href="{{ path('app_project_details', {projectId: dependant.project}) }}">{{ dependant.project }}</a></td>
                        <td style="white-space: nowrap">{{ dependant.requiredVersion }}</td>
                        <td style="white-space: nowrap">{{ dependant.requireDev ? 'yes' : 'no' }}</td>
                        <td style="white-space: nowrap"><a href="{{ path('app_project_details', {projectId: "todo"}) }}">{{ dependant.installedVersion }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if dependants|length == 0 %}
                <div class="alert alert-info text-center">No dependants found</div>
            {% endif %}
        </section>

    </main>
{% endblock %}